# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Flask SQLite database
*.db

# VS Code
.vscode/

# Pytest / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Logs
*.log

# Python egg
*.egg
*.egg-info/
dist/
build/

# Mac / Linux / Windows junk
.DS_Store
Thumbs.db
